<div class="col-sm-8 col-md-7 py-4">
    <h4 class="text-white">О нас</h4>
    <p class="text-muted">Это - наш магазинчи продуктов. Мы открылись совсем недавно, поэтому пока что у
        нас всего 10 товаров. Но скоро будет еще!
        А пока наслаждайтесь нашим скромным, но очень вкусным ассортиментом продуктов!</p>
</div>
<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'catalog:home' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'blog:list' %}" class="text-white">Блог</a></li>
        <li><a href="{% url 'catalog:contacts' %}" class="text-white">Контакты</a></li>
        <li><a href="{% url 'catalog:categories' %}" class="text-white">Категории</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
        {% if perms.catalog.change_published_status and perms.catalog.change_product %}
        <li><a href="{% url 'catalog:moderator_product_list' %}" class="text-white">Все продукты</a></li>
        {% endif %}
        <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
        <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
        {% endif %}
    </ul>
</div>